<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form [formGroup]="loginForm" (submit)="onLogin()">
    <mat-form-field fxFill="100%">
      <mat-label>Username</mat-label>
      <input matInput placeholder="test@example.com" formControlName="email" autocomplete="off" required>
      <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field fxFill="100%">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="'password'">
      <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-error *ngIf="isInvalidCredentials">{{getErrorMessage()}}</mat-error>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" class="login-button"  type="submit" (click)="onLogin()">Login</button>
    </div>
  </form>
</div>

