.favourites-page {
  padding: 20px;

  .movie {
    margin-bottom: 10px;
  }

  .movie-title {
    font-weight: 700;
    font-size: 24px;
  }

  .rating-wrapper {
    text-align: center;

    .rating {
      background: cadetblue;
      padding: 17px;
      text-align: center;
      border-radius: 50%;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .favourites {
    width: 100%;
    position: relative;
  }

  fa-icon {
    font-size: 30px;
    position: absolute;
    right: 10px;

    &.is-favorite {
      color: red;
    }
  }

}
