<div class="home-page" fxFlex="100" fxLayout="row wrap">
  <h2 fxFlex="100">Movie List Filter</h2>
  <span fxFlex="40">
      <mat-form-field fxFlex="90" class="form-field">
            <mat-label>Search Movies</mat-label>
            <input matInput
                   #searchInput
                   [formControl]="searchField">
        </mat-form-field>
    </span>
  <span fxFlex="20">
     <mat-form-field [color]="'primary'" appearance="outline" class="btr-form-field">
            <mat-label>Filter By Year</mat-label>
            <mat-select [(ngModel)]="filterByYear" (selectionChange)="doYearFilter()">
              <mat-option *ngFor="let year of movieYears"
                          [value]="year">
                {{ year }}
              </mat-option>
               <mat-option [value]="0">
                Clear Filter
              </mat-option>
            </mat-select>
          </mat-form-field>
    </span>
  <span fxFlex="20">
     <mat-form-field [color]="'primary'" appearance="outline" class="btr-form-field">
            <mat-label>Filter By Genre</mat-label>
            <mat-select [(ngModel)]="filterByGenre" (selectionChange)="doGenreFilter()">
              <mat-option *ngFor="let genre of movieGenres"
                          [value]="genre">
                {{ genreName[genre] }}
              </mat-option>
                <mat-option [value]="0">
                Clear Filter
              </mat-option>
            </mat-select>
          </mat-form-field>
    </span>
  <span fxFlex="20">
        <mat-form-field [color]="'primary'" appearance="outline" class="btr-form-field">
            <mat-label>Sorty By</mat-label>
            <mat-select [(ngModel)]="sortBy" (selectionChange)="updateSort()">
              <mat-option
                [value]="'year'">
                Sort by Year
              </mat-option>
              <mat-option
                [value]="'name'">
                Sort by Name
              </mat-option>
            </mat-select>
          </mat-form-field>
    </span>
  <div class="searching" fxFlex="100" *ngIf="loading">Searching....</div>
  <div class="movies-container" fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100">
    <ng-container *ngFor="let movie of sortedAndFilteredMovies">
      <mat-card class="movie" fxFlex="1 1 24" fxFlex.lt-lg="0 1 48" fxFlex.lt-sm="0 1 95" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div class="favourites" fxLayoutAlign="center center">
          <i class="fas fa-heart"></i>
          <fa-icon [icon]="faHeart" [ngClass]="{ 'is-favorite' : movie.isFavourite }" (click)="toggleFavourites(movie)"></fa-icon>
        </div>
        <div class="photo-container"
             *ngIf="movie.posterURL"
             [ngStyle]="{'width': '200px', 'height': '305px'}">
          <img class="photo-tag"
               *ngIf="movie.posterURL"
               [ngStyle]=" {'width': '200px', 'height': '305px' }"
               src="{{movie.posterURL}}"/>
        </div>
        <div fxLayout="row wrap">
          <div class="user-info" fxFlex="calc(100%-60px)" fxLayout="row wrap" fxLayoutAlign="start start">
            <div class="pointer" fxFlex="100" (click)="showMovieDetails(movie)">
              <span class="movie-title">{{movie.name}}</span>
            </div>
            <div fxFlex="100">Year: <span class="bold">{{movie.year}}</span></div>
          </div>
          <div fxFlex="calc(60px)" class="rating-wrapper" fxLayout="row wrap" fxLayoutAlign="center start">
            <div fxFlex="100">Rating:</div>
            <div class="rating" fxFlex="100">
              <span>{{ movie.rating }}</span>
            </div>
          </div>
          <div fxFlex="100" fxLayoutAlign="start start">
            <div fxFlex="100" *ngIf="movie.genre.length">Genre: <span class="genre-token"
                                                                      *ngFor="let genre of movie.genre">{{genreName[genre]}} </span>
            </div>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
